
@{
    ViewBag.Title = "Acceso Negado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="card">
        El usuario no tiene asignado el permiso para esta acción.
    </div>
</div>


