<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <div class="card">
        <h1>Error.</h1>
        <h2>Se ha presentado un error mientras procesabamos tu solicitud, estamos trabajando para solucionarlo.</h2>
		<h2>Por favor intenta de nuevo en unos minutos.</h2>
    </div>
</body>
</html>
