@font-face {
    font-family: 'San Francisco UI Display Regular';
    src: url('../fonts/sf-ui-display-regular-webfont.eot');
    src: url('../fonts/sf-ui-display-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sf-ui-display-regular-webfont.woff2') format('woff2'),
         url('../fonts/sf-ui-display-regular-webfont.woff') format('woff'),
         url('../fonts/sf-ui-display-regular-webfont.ttf') format('truetype'),
         url('../fonts/sf-ui-display-regular-webfont.svg#sf_ui_displayregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'San Francisco UI Display Light';
    src: url('../fonts/sf-ui-display-light-webfont.eot');
    src: url('../fonts/sf-ui-display-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sf-ui-display-light-webfont.woff2') format('woff2'),
         url('../fonts/sf-ui-display-light-webfont.woff') format('woff'),
         url('../fonts/sf-ui-display-light-webfont.ttf') format('truetype'),
         url('../fonts/sf-ui-display-light-webfont.svg#sf_ui_displaylight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'San Francisco UI Display Ultra Light';
    src: url('../fonts/sf-ui-display-ultralight-webfont.eot');
    src: url('../fonts/sf-ui-display-ultralight-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sf-ui-display-ultralight-webfont.woff2') format('woff2'),
         url('../fonts/sf-ui-display-ultralight-webfont.woff') format('woff'),
         url('../fonts/sf-ui-display-ultralight-webfont.ttf') format('truetype'),
         url('../fonts/sf-ui-display-ultralight-webfont.svg#sf_ui_displayultralight') format('svg');
    font-weight: normal;
    font-style: normal;
}