.mar-0 { margin: 0!important; }

.mar-top-0 { margin-top: 0 !important; }
.mar-top-5 { margin-top: 5px !important; }
.mar-top-10 { margin-top: 10px !important; }
.mar-top-15 { margin-top: 15px !important; }
.mar-top-20 { margin-top: 20px !important; }
.mar-top-25 { margin-top: 25px !important; }
.mar-top-30 { margin-top: 30px !important; }
.mar-top-35 { margin-top: 35px !important; }
.mar-top-40 { margin-top: 40px !important; }
.mar-top-45 { margin-top: 45px !important; }
.mar-top-50 { margin-top: 50px !important; }

.mar-rig-0 { margin-right: 0 !important; }
.mar-rig-5 { margin-right: 5px !important; }
.mar-rig-10 { margin-right: 10px !important; }
.mar-rig-15 { margin-right: 15px !important; }
.mar-rig-20 { margin-right: 20px !important; }
.mar-rig-25 { margin-right: 25px !important; }
.mar-rig-30 { margin-right: 30px !important; }
.mar-rig-35 { margin-right: 35px !important; }
.mar-rig-40 { margin-right: 40px !important; }
.mar-rig-45 { margin-right: 45px !important; }
.mar-rig-50 { margin-right: 50px !important; }

.mar-bot-0 { margin-bottom: 0 !important; }
.mar-bot-5 { margin-bottom: 5px !important; }
.mar-bot-10 { margin-bottom: 10px !important; }
.mar-bot-15 { margin-bottom: 15px !important; }
.mar-bot-20 { margin-bottom: 20px !important; }
.mar-bot-25 { margin-bottom: 25px !important; }
.mar-bot-30 { margin-bottom: 30px !important; }
.mar-bot-35 { margin-bottom: 35px !important; }
.mar-bot-40 { margin-bottom: 40px !important; }
.mar-bot-45 { margin-bottom: 45px !important; }
.mar-bot-50 { margin-bottom: 50px !important; }

.mar-lef-0 { margin-left: 0 !important; }
.mar-lef-5 { margin-left: 5px !important; }
.mar-lef-10 { margin-left: 10px !important; }
.mar-lef-15 { margin-left: 15px !important; }
.mar-lef-20 { margin-left: 20px !important; }
.mar-lef-25 { margin-left: 25px !important; }
.mar-lef-30 { margin-left: 30px !important; }
.mar-lef-35 { margin-left: 35px !important; }
.mar-lef-40 { margin-left: 40px !important; }
.mar-lef-45 { margin-left: 45px !important; }
.mar-lef-50 { margin-left: 50px !important; }

.mar-ver-0 { margin-top: 0 !important; margin-bottom: 0 !important; }
.mar-ver-5 { margin-top: 5px !important; margin-bottom: 5px !important; }
.mar-ver-10 { margin-top: 10px !important; margin-bottom: 10px !important; }
.mar-ver-15 { margin-top: 15px !important; margin-bottom: 15px !important; }
.mar-ver-20 { margin-top: 20px !important; margin-bottom: 20px !important; }
.mar-ver-25 { margin-top: 25px !important; margin-bottom: 25px !important; }
.mar-ver-30 { margin-top: 30px !important; margin-bottom: 30px !important; }
.mar-ver-35 { margin-top: 35px !important; margin-bottom: 35px !important; }
.mar-ver-40 { margin-top: 40px !important; margin-bottom: 40px !important; }
.mar-ver-45 { margin-top: 45px !important; margin-bottom: 45px !important; }
.mar-ver-50 { margin-top: 50px !important; margin-bottom: 50px !important; }

.mar-hor-0 { margin-right: 0 !important; margin-left: 0 !important; }
.mar-hor-5 { margin-right: 5px !important; margin-left: 5px !important; }
.mar-hor-10 { margin-right: 10px !important; margin-left: 10px !important; }
.mar-hor-15 { margin-right: 15px !important; margin-left: 15px !important; }
.mar-hor-20 { margin-right: 20px !important; margin-left: 20px !important; }
.mar-hor-25 { margin-right: 25px !important; margin-left: 25px !important; }
.mar-hor-30 { margin-right: 30px !important; margin-left: 30px !important; }
.mar-hor-35 { margin-right: 35px !important; margin-left: 35px !important; }
.mar-hor-40 { margin-right: 40px !important; margin-left: 40px !important; }
.mar-hor-45 { margin-right: 45px !important; margin-left: 45px !important; }
.mar-hor-50 { margin-right: 50px !important; margin-left: 50px !important; }