.pad-top-0 { padding-bottom: 0 !important; }
.pad-top-5 { padding-bottom: 5px !important; }
.pad-top-10 { padding-bottom: 10px !important; }
.pad-top-15 { padding-bottom: 15px !important; }
.pad-top-20 { padding-bottom: 20px !important; }
.pad-top-25 { padding-bottom: 25px !important; }
.pad-top-30 { padding-bottom: 30px !important; }
.pad-top-35 { padding-bottom: 35px !important; }
.pad-top-40 { padding-bottom: 40px !important; }
.pad-top-45 { padding-bottom: 45px !important; }
.pad-top-50 { padding-bottom: 50px !important; }

.pad-rig-0 { padding-right: 0 !important; }
.pad-rig-5 { padding-right: 5px !important; }
.pad-rig-10 { padding-right: 10px !important; }
.pad-rig-15 { padding-right: 15px !important; }
.pad-rig-20 { padding-right: 20px !important; }
.pad-rig-25 { padding-right: 25px !important; }
.pad-rig-30 { padding-right: 30px !important; }
.pad-rig-35 { padding-right: 35px !important; }
.pad-rig-40 { padding-right: 40px !important; }
.pad-rig-45 { padding-right: 45px !important; }
.pad-rig-50 { padding-right: 50px !important; }

.pad-bot-0 { padding-bottom: 0 !important; }
.pad-bot-5 { padding-bottom: 5px !important; }
.pad-bot-10 { padding-bottom: 10px !important; }
.pad-bot-15 { padding-bottom: 15px !important; }
.pad-bot-20 { padding-bottom: 20px !important; }
.pad-bot-25 { padding-bottom: 25px !important; }
.pad-bot-30 { padding-bottom: 30px !important; }
.pad-bot-35 { padding-bottom: 35px !important; }
.pad-bot-40 { padding-bottom: 40px !important; }
.pad-bot-45 { padding-bottom: 45px !important; }
.pad-bot-50 { padding-bottom: 50px !important; }

.pad-lef-0 { padding-left: 0 !important; }
.pad-lef-5 { padding-left: 5px !important; }
.pad-lef-10 { padding-left: 10px !important; }
.pad-lef-15 { padding-left: 15px !important; }
.pad-lef-20 { padding-left: 20px !important; }
.pad-lef-25 { padding-left: 25px !important; }
.pad-lef-30 { padding-left: 30px !important; }
.pad-lef-35 { padding-left: 35px !important; }
.pad-lef-40 { padding-left: 40px !important; }
.pad-lef-45 { padding-left: 45px !important; }
.pad-lef-50 { padding-left: 50px !important; }

.pad-ver-0 { padding-top: 0 !important; padding-bottom: 0 !important; }
.pad-ver-5 { padding-top: 5px !important; padding-bottom: 5px !important; }
.pad-ver-10 { padding-top: 10px !important; padding-bottom: 10px !important; }
.pad-ver-15 { padding-top: 15px !important; padding-bottom: 15px !important; }
.pad-ver-20 { padding-top: 20px !important; padding-bottom: 20px !important; }
.pad-ver-25 { padding-top: 25px !important; padding-bottom: 25px !important; }
.pad-ver-30 { padding-top: 30px !important; padding-bottom: 30px !important; }
.pad-ver-35 { padding-top: 35px !important; padding-bottom: 35px !important; }
.pad-ver-40 { padding-top: 40px !important; padding-bottom: 40px !important; }
.pad-ver-45 { padding-top: 45px !important; padding-bottom: 45px !important; }
.pad-ver-50 { padding-top: 50px !important; padding-bottom: 50px !important; }

.pad-hor-0 { padding-right: 0 !important; padding-left: 0 !important; }
.pad-hor-5 { padding-right: 5px !important; padding-left: 5px !important; }
.pad-hor-10 { padding-right: 10px !important; padding-left: 10px !important; }
.pad-hor-15 { padding-right: 15px !important; padding-left: 15px !important; }
.pad-hor-20 { padding-right: 20px !important; padding-left: 20px !important; }
.pad-hor-25 { padding-right: 25px !important; padding-left: 25px !important; }
.pad-hor-30 { padding-right: 30px !important; padding-left: 30px !important; }
.pad-hor-35 { padding-right: 35px !important; padding-left: 35px !important; }
.pad-hor-40 { padding-right: 40px !important; padding-left: 40px !important; }
.pad-hor-45 { padding-right: 45px !important; padding-left: 45px !important; }
.pad-hor-50 { padding-right: 50px !important; padding-left: 50px !important; }